body {
    color: #121212;
}

header {
    .header-buttons {
        .btn-secondary {
            $headerButton2Color: #fefefe;
            $headerButton2Bg: transparent;
            border: 1px solid $headerButton2Color;
            color: $headerButton2Color;
            background-color: $headerButton2Bg;

            &:hover {
                $headerButton2Darken: 15;
                border: 1px solid darken($headerButton2Color, $headerButton2Darken);
                color: darken($headerButton2Color, $headerButton2Darken);
                background-color: $headerButton2Bg;
            }
        }
    }
}

.banner {
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

$btnPadding: 10px;
$btnRadius: 5px;
.btn-primary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}

.btn-secondary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}

.div-responsive-wrapper{
    position: relative;
    .div-responsive{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        > img{
            min-width: 100%;
            min-height: 100%;
            width: auto;
        }
    }
    &.ratio-4-3{
        padding-top: 75%;
    }
    &.ratio-16-9{
        padding-top: 56.25%;
    }
    &.ratio-3-2{
        padding-top: 66.66%;
    }
    &.ratio-8-5{
        padding-top: 62.5%;
    }
}