body {
    color: #121212;
}

header {
    .header-buttons {
        .btn-secondary {
            $headerButton2Color: #fefefe;
            $headerButton2Bg: transparent;
            border: 1px solid $headerButton2Color;
            color: $headerButton2Color;
            background-color: $headerButton2Bg;

            &:hover {
                $headerButton2Darken: 15;
                border: 1px solid darken($headerButton2Color, $headerButton2Darken);
                color: darken($headerButton2Color, $headerButton2Darken);
                background-color: $headerButton2Bg;
            }
        }
    }
}

.banner {
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

$btnPadding: 10px;
$btnRadius: 5px;
.btn-primary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}

.btn-secondary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}
