body {
    color: #121212;
}

header {
}

.banner {
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

$btnPadding: 10px;
$btnRadius: 5px;
.btn-primary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}

.btn-secondary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}
