body {
    color: #121212;
}

header {
    background-color: #090909;
    color: #F0F0F0;
    margin-bottom: 0;
    padding: 0.1em;
    min-height: 3.2rem;

    div.title {
        position: absolute;
        left: 50%;

        h1 {
            position: relative;
            left: -50%;
            text-align: center;
            margin-bottom: 0;
            font-size: 2.8rem;
        }
    }

    .header-buttons {
        text-align: right;
        z-index: 1;

        .btn-secondary {
            $headerButton2Color: #fefefe;
            $headerButton2Bg: transparent;
            border: 1px solid $headerButton2Color;
            color: $headerButton2Color;
            background-color: $headerButton2Bg;

            &:hover {
                $headerButton2Darken: 15;
                border: 1px solid darken($headerButton2Color, $headerButton2Darken);
                color: darken($headerButton2Color, $headerButton2Darken);
                background-color: $headerButton2Bg;
            }
        }
    }
}

.banner {
    padding: 1em;
    margin-top: 0;
}

$btnPadding: 10px;
$btnRadius: 5px;
.btn-primary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}

.btn-secondary {
    padding: $btnPadding;
    border-radius: $btnRadius;
}
