#pagination-module {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#bouton-module {
  margin-left: 1%;
  margin-top: 1%;
}

#produit {
  display: flex;
  justify-content: center;
  margin-top: 0.2%;
}

#mainpage {
  .card {
    margin-top: 2%;
  }

}
