@use 'bootstrap-theme';
@import 'common';
@import 'ajouter-produit';
@import 'form';
@import 'error';
@import 'carte-produit';
@import 'message';
@import "affichage";

select{
  -moz-appearance : none;
}

.fa{
  min-width: 15px;
}

.fas{
  min-width: 15px;
}
