.carte-produit{

  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-img-top {
    width: 100%;
    object-fit: cover;

  }

  .description{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
  }
  .description:before {
    content: '...';
    //background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,255));
    position: absolute;
    right: 0em;
    bottom: 0;
  }
  .description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }

  h5{
    margin: 0;
    word-break: keep-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
  }

  h6{
    font-size: 0.7em;
  }

  a{
    color: #121212;
    text-decoration: none;
  }
}
