#inscription-body, #connexion-body, #categorie-body {
    article.card-body {
        max-width: 400px;
    }
}

#categorie-body {
    .card {
        min-height: 400px;
        margin: 3%;
    }
    .form-group{
        width: 100%;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-filtre .modal-content {
    padding: 10px;
}

#textarea-modale {
    width: 100%;
    min-height: 10em;
    resize: none;
}
