
.mes-produits {
  .bar-titre {
    margin: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    .btn .fa {
      font-size: 1.7em;
    }
  }

  .sep {
    border-bottom: 1px solid $gray-500;
    margin: 0;
  }

}